:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:80vh;
}
.form{
    display: grid;
    grid-template: repeat(4, min-content)/1fr 3fr;
    gap:1rem;
    font-family: 'roboto', sans-serif;
    div:nth-child(9){
        grid-column: span 2;
        display: flex;
        justify-content: center;
    }
}