<nav class="bg-sky-600 text-xl italic shadow text-white">
  <ul class="flex justify-around w-3/5">
    <li class="h-10 hover:bg-sky-400 px-4 flex items-center"><a routerLink="/home">Inicio</a></li>
    <li class="h-10 hover:bg-sky-400 px-4 flex items-center"><a routerLink="/register">Registrar</a></li>
    <li class="h-10 hover:bg-sky-400 px-4 flex items-center"><a routerLink="/login">Login</a></li>
    <li class="h-10 hover:bg-sky-400 px-4 flex items-center"><a routerLink="/form">Añadir Producto</a></li>
    <li class="h-10 hover:bg-sky-400 px-4 flex items-center cursor-pointer"><a (click)="logout()">Logout: <span class="bi bi-box-arrow-right"></span></a></li>
  </ul>
  <div>
    <p>{{usuario}}</p>
  </div>
</nav>
<router-outlet></router-outlet>